// NAVBAR
.report-title,
.report-date {
  .fontSlabNormal();
  color: #fff;
  font-size: 1.3em;
  line-height: @navbarHeight;
  margin: 0;
  span {
    .fontCondNormal();
    font-size: 14px;
    text-transform: uppercase;
    color: #bbb;
  }
}