// Start with bootstrap
@import 'bootstrap';
@icon-font-path: "../fonts/";

// Add some fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|Roboto+Condensed:400,700,300|Roboto+Slab:400,300,700);

// Modify Bootstrap Vars
@font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@list-group-border-radius: 0;

// Convenience Mixins
.fontLight(){font-weight: 300;}
.fontNormal(){font-weight: 400;}
.fontMedium(){font-weight: 500;}
.fontBold(){font-weight: 700;}

.fontCondLight(){font-family: 'Roboto Condensed'; .fontLight();}
.fontCondNormal(){font-family: 'Roboto Condensed'; .fontNormal();}
.fontCondBold(){font-family: 'Roboto Condensed'; .fontBold();}

.fontSlabLight(){font-family: 'Roboto Slab'; .fontLight();}
.fontSlabNormal(){font-family: 'Roboto Slab'; .fontNormal();}
.fontSlabBold(){font-family: 'Roboto Slab'; .fontBold();}

.linkTransition(){
  .transition(all .2s ease-out);
}

// Local Vars
@navbarHeight: 48px;

// Import partials
@import '_navbar';
@import '_footer';
@import '_summary';
@import '_statusbar';
@import '_suite';
@import '_test';
@import '_media-queries';

// Code Highlighting
@import 'obsidian';