    <!-- About Section -->
    <section id="about" class="container content-section">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <h2>Interesting, tell me more.</h2>
            <p>Mochawesome is a custom reporter for the testing framework, <a href="http://www.mochajs.org">mocha</a>. It generates a full fledged HTML/CSS report that helps visualize your test suites.</p>
        </div>
      </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <p><img class="img-responsive" src="/img/mochawesome-screen.png" alt="Mochawesome Screenshot"></p>
            </div>
            <div class="col-md-4">
                <h3>Features</h3>
                <ul class="list-unstyled features-list">
                  <li>At-a-glance stats including pass percentage</li>
                  <li>Beautiful charts</li>
                  <li>Support for nested describes</li>
                  <li>Supports pending tests</li>
                  <li>Filter view by test type</li>
                  <li>Review test code inline</li>
                  <li>Stack trace for failed tests</li>
                  <li>Responsive and mobile-friendly</li>
                  <li>Saves JSON output for further processing</li>
                  <li>Offline viewing</li>
                </ul>
            </div>
        </div>
    </section>