<!-- Features Section -->
<section id="features" class="content-section text-center">
    <div class="features-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Features</h2>
            <p>At-a-glance stats including pass percentage<br> Beautiful charts, Support for nested describes, Supports pending tests, Filter view by test type, Review test code inline, Stack trace for failed tests, Responsive and mobile-friendly, Saves JSON output for further processing, Offline viewing</p>
        </div>
      </div>
    </div>
</section>