// Mochawesome Mixins

// Fonts
.fontLight(){font-weight: 300;}
.fontNormal(){font-weight: 400;}
.fontMedium(){font-weight: 500;}
.fontBold(){font-weight: 700;}

.fontCondLight(){font-family: 'Roboto Condensed'; .fontLight();}
.fontCondNormal(){font-family: 'Roboto Condensed'; .fontNormal();}
.fontCondBold(){font-family: 'Roboto Condensed'; .fontBold();}

.fontSlabLight(){font-family: 'Roboto Slab'; .fontLight();}
.fontSlabNormal(){font-family: 'Roboto Slab'; .fontNormal();}
.fontSlabBold(){font-family: 'Roboto Slab'; .fontBold();}

// Links
.linkTransition(@prop: color){
  .transition(@prop .2s ease-out);
}

// Icons
.fontIcon(@icon) {
  &:before {
    content: @icon;
  }
}
.fontIcon(@icon; after) {
  &:after {
    content: @icon;
  }
}