@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url("@{font-path}/Roboto+Condensed_300_normal.eot"); /* {{embedded-opentype-gf-url}} */
    src: url("@{font-path}/Roboto+Condensed_300_normal.eot?#iefix") format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url("@{font-path}/Roboto+Condensed_300_normal.woff") format('woff'), /* http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff */
        url("@{font-path}/Roboto+Condensed_300_normal.ttf") format('truetype'), /* http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBPtpc1JAjij63Hi_JcAPQ4.ttf */
        url("@{font-path}/Roboto+Condensed_300_normal.svg#Roboto+Condensed_300_normal") format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto+Condensed_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: url("@{font-path}/Roboto+Condensed_400_normal.eot?#iefix") format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url("@{font-path}/Roboto+Condensed_400_normal.woff") format('woff'), /* http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff */
        url("@{font-path}/Roboto+Condensed_400_normal.ttf") format('truetype'), /* http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsMEHkXu385rSv8spHqOuvSI.ttf */
        url("@{font-path}/Roboto+Condensed_400_normal.svg#Roboto+Condensed_400_normal") format('svg'); /* http://fonts.gstatic.com/l/font?kit=Zd2E9abXLFGSr9G3YK2MsM9XqQMESZbwKrSTBefVM6U#RobotoCondensed */
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url(Roboto+Condensed_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: url("@{font-path}/Roboto+Condensed_700_normal.eot?#iefix") format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url("@{font-path}/Roboto+Condensed_700_normal.woff") format('woff'), /* http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff */
        url("@{font-path}/Roboto+Condensed_700_normal.ttf") format('truetype'), /* http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPVE82mBoqAQeMZO1WdebIw.ttf */
        url("@{font-path}/Roboto+Condensed_700_normal.svg#Roboto+Condensed_700_normal") format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(Roboto+Slab_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: url("@{font-path}/Roboto+Slab_400_normal.eot?#iefix") format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url("@{font-path}/Roboto+Slab_400_normal.woff") format('woff'), /* http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff */
        url("@{font-path}/Roboto+Slab_400_normal.ttf") format('truetype'), /* http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiwlidHJgAgmTjOEEzwu1L8.ttf */
        url("@{font-path}/Roboto+Slab_400_normal.svg#Roboto+Slab_400_normal") format('svg'); /* http://fonts.gstatic.com/l/font?kit=y7lebkjgREBJK96VQi37ZnNsigHlcrQGNV8nkUSFQfc#RobotoSlab */
}