// STATUS BAR

.statusbar {
  padding: 8px 0;
  color: @gray;
  background: #fff;
  z-index: 1030;
  .transition(border .2s ease-out);

  .status-list {
    margin: 0;
  }

  .status-item {
    .fontCondNormal();
    font-size: 18px;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid @gray-light;
    &:first-child {
      border: none;
    }
  }

  .status-item {
    &.danger {
      color: @brand-danger;
    }
    &.warning {
      color: @brand-warning;
    }
    &.success {
      color: @brand-success;
    }
  }
}

.show-quick-summary .statusbar {
  position: fixed;
  top: @navbarHeight;
  width: 100%;
  border-bottom: 1px solid @gray-lighter;
  background: rgba(255, 255, 255, 0.9);
}