// TEST
.test {
  padding: 6px 8px 8px 6px;
  border-left: none;
  border-right: none;

  .test-heading {
    .clearfix();

    .test-title {
      .fontNormal();
      font-size: 14px;
      margin: 0;
      float: left;
      .glyphicon {
        font-size: 12px;
        margin-right: 2px;
      }
    }

    .test-duration {
      .fontCondBold();
      float: left;
      &:before {
        content: "";
        height: 10px;
        display: inline-block;
        border-left: 1px solid @gray-light;
        margin: 0 6px;
      }
      //Speeds
      &.slow {
        color: @brand-danger;
      }
      &.medium {
        color: @brand-warning;
      }
    }
  }

  .toggle-btn {
    .linkTransition();
    border: none;
    padding: 0;
    outline: none;
    text-decoration: none;
    &:before {
      content: "Hide ";
    }
    &.collapsed:before {
      content: "Show ";
    }
    &:focus {
      outline: none;
    }
  }

  .toggle-code {
    float: left;
    vertical-align: top;
    line-height: 1.7;
  }

  .toggle-stack {
    float: right;
  }

  .test-error-message {
    .clearfix();
    font-size: 12px;
    margin: 4px 0 0 17px;
    color: @brand-danger;
  }

  pre {
    margin: 10px 0 0 0;
    padding: 0;
    background: none;
    border: none;
  }
}

// Test States

.test.passed {
  .test-title .glyphicon:before {
    content: "\e013";
    color: @brand-success;
  }
}

.test.failed {
  .test-title .glyphicon:before {
    content: "\e014";
    color: @brand-danger;
  }
}

.test.pending {
  color: #999;
  .test-title .glyphicon:before {
    content: "\e073";
    color: #999;
  }
}

// Filter Styles
.filters-active {
  .test {
    display: none;
  }
  &.filter-passed .test.passed {
    display: block;
  }
  &.filter-failed .test.failed {
    display: block;
  }
  &.filter-pending .test.pending {
    display: block;
  }  
}